.nav, .pagination, .carousel, .panel-title a, *[ui-sref] { cursor: pointer; }

.container {
  padding-top: 75px;
}

.car img {
  max-width: 100%;
  margin-right: 25px;
}

.car-image {
  max-width: 100%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: inherit
}

#services .glyphicon{
  font-size: 110px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
