
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">An Online Car Convention</div>
            <div class="intro-heading">The Car Repo</div>
            <a ui-sref="cars" class="page-scroll btn btn-xl">Browse Dream Cars</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Jump In And Drive Off</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                </span>
                <h4 class="service-heading">Quality Checked</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                </span>
                <h4 class="service-heading">Share Your Dream</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                </span>
                <h4 class="service-heading">Quickly Connect</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>
